/*
index.css
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
header {
  
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    
}
main.content{
  margin: 2rem 
}

ul li{
  display: flex;
  text-decoration: none;
  border-style:solid ;
  
}
  /* .content .boxcontainer{
    
    display: flex;
    flex-direction: column;

  }

  .box1 {
    
    flex-direction: row;
  }

  .box2 {
    flex-direction: row;
  } */
  #items{
    display: inline-block;
  }
  #total{
   
    font-size: large;
  }
  #sbtn{
   /* margin: 2rem; */
   padding: auto;
   align-items: center;
   width: 5rem;
  }