/*
index.css
*/

/* html,
body {
  width: 300px;
  height: 200px;
  
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
header {
   
    text-align: center;
    font-size: larger;
    
}
  .boxcontainer{
    display: flex;
  }

  

  li{
    z-index: 5
  }
  span{
    z-index: 0;
  }