.course-list{
    height: 300px;
    width: 200px;
    overflow-x: auto;
    margin-right: 50px;
}

.all-courses{
    display: flex;
}

.class-select-box{
    padding: 5px;

    border: 1px solid black;

}

.class-select-box:nth-child(even){
    background-color: rgb(221, 239, 221);
}

.selected-courses{
  
    border: 1px solid black;
    height: 300px;
    width: 200px;
    overflow-x: auto;
}

.selected-course-title{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.headertitle {
    margin-left: 8%;
    font-weight: bold;
}